[submodule ".themes/mullah-mussels"]
	path = .themes/mullah-mussels
	url = git://github.com/octopress-themes/mullah-mussels.git
[submodule ".themes/murky-mussels"]
	path = .themes/murky-mussels
	url = git://github.com/octopress-themes/murky-mussels.git
